<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <il>
        <% for (var sploit in sploits) {%>
        <ul>
            <div class="ExploitHolder">
                <h1 class="ExploitTitle">
                    <%= sploit %> version <%= sploits[sploit].version %> by <%= sploits[sploit].creator %>
                </h1>
                <div class="ExploitType">
                    <%= sploits[sploit].type %>
                </div>
                <p class="ExploitDescription">
                    <%= sploits[sploit].description %>
                </p>
                <div class="ExploitVersion">
                    <%= sploits[sploit].version %>
                </div>
                <a href="/exploit?name=<%= sploits[sploit].filename %>&type=<%= sploits[sploit].type %>&version=<%= version %>">load</a>
            </div>
        </ul>
        <% }%>
    </il>
</body>
</html>