<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <link rel="stylesheet" href="/stylesheets/wiiudesigns.css">
</head>
<body>
    <div class="PageHolder" style="">
        <div class="PageTitle">
            The Stagefright Launcher
        </div>
    </div>
    <il>
        <% var i = 0; %>
        <% for (var sploit in sploits) {%>
        <ul>
            <div class="ExploitHolder">
                <a class="ExploitImage" href="/exploit?name=<%= sploits[sploit].filename %>&type=<%= sploits[sploit].type %>&version=<%= version %>">
                    <div class="circular" style="background: url('https://gbatemp.net/styles/default/xenforo/avatars/avatar_m.png') no-repeat">

                    </div>
                </a>

                <table>
                    <tr>
                        <th>
                            <h1 class="ExploitTitle">
                                <%= sploits[sploit].name %>
                            </h1>
                            <ul class="ExploitDetails">
                                <li>
                                    <div class="ExploitType">
                                        Type: <%= sploits[sploit].type %>
                                    </div>
                                </li>
                                <li>
                                    <div class="ExploitMD5">
                                        MD5: <%= sploits[sploit].md5 %>
                                    </div>
                                </li>
                                <li>
                                    <div class="ExploitSysVersion">
                                        Compatible with: <%= sploits[sploit].sysvers %>
                                    </div>
                                </li>
                                <li>
                                    <div class="ExploitCreator">
                                       Creator: <%= sploits[sploit].creator %>
                                    </div>
                                </li>
                            </ul>
                        </th>
                        <th>
                            <h1 class="ExploitTitle" style="color: #ffffff"><%= i %></h1>
                            <p class="ExploitDescription">
                                <%= sploits[sploit].description %>
                            </p>
                            <ul class="ExploitDetails">
                                <li>
                                    <div class="ExploitVersion">
                                        version: <%= sploits[sploit].version %>
                                    </div>
                                </li>
                            </ul>
                        </th>
                    </tr>
                </table>


            </div>
        </ul>
        <% i++; %>
        <% }%>
    </il>
</body>
</html>